html {
  background-color: #27221f;
  color: white;
}

$breakpoint-tablet: 1100px;
@media (min-width: $breakpoint-tablet) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 2em;
    margin-right: 2em;
  }
  .content:last-child {
    margin-bottom: 3em;
  }
  .content-box {
    display: flex;
    flex-direction: row;
    margin: 2em;
  }
  .quote {
    display: flex;
    align-items: center;
    font-size: 8vh;
    font-weight: 300;
    width: 9em;
    font-family: "adam.cg_proregular";
  }
  .xueImage {
    height: 85vh;
  }
  .profile-text {
    h1 {
      font-size: 3em;
      margin: 0 0;
    }
    p {
      font-size: 1.5em;
      text-align: left;
      width: 15em;
      margin: 0.8em 0;
    }
    width: 40%;
    margin: 0 0 0 1em;
    background: #27221f;
    border-radius: 1em;
    padding: 1em;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(20, 20, 20);
    border-radius: 1em;
    // box-shadow: 10px 5px 5px white;
  }
}

@media (max-width: $breakpoint-tablet) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 1em;
    width: 100%;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
  }
  .quote {
    display: none;
  }
  .xueImage {
    height: 40em;
  }
  .profile-text {
    h1 {
      font-size: 3em;
      margin: 0 0;
    }
    p {
      font-size: 1.5em;
      text-align: justify;
      width: 22em;
      // margin: 0.8em 0;
    }
    width: 100%;
    margin-top: 2em;
    margin-bottom: 10em;

  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    // background: rgb(20, 20, 20);
    border-radius: 1em;
  }
}

.profile-image {
  img {
    width: 100%;
    border-radius: 1em;
    // box-shadow: 10px 5px 5px white;
  }
  width: 34em;
  // margin: 0 1em;
}

.nav-link-button {
  border: 0.15em solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em;
  font-size: 1em;
  text-transform: uppercase;
}
