$breakpoint-tablet: 1100px;
@media (max-width: $breakpoint-tablet) {
  .wb-left {
    flex-direction: column;
  }

  .wb-right {
    flex-direction: column;
  }

  .work-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8em 10em;
    margin-bottom: 50%;
  }
  .story-text {
    min-width: 20em;
    font-size: 2em;
    text-align: justify;
  }
}

@media (min-width: $breakpoint-tablet) {
  .wb-left {
    flex-direction: row;
  }

  .wb-right {
    flex-direction: row-reverse;
  }

  .work-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8em 10em;
  }
  .story-text {
    min-width: 20em;
    max-width: 30em;
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
  .story-text {
    font-size: 1.8em;
  }
}

.side-image {
  width: 25em;
}

.professional-image {
  height: 100%;
  min-width: 20em;
  max-width: 30em;
  margin: 0 3em;
}

.resume {
  width: 44em;
}

.resume-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.resume-link {
  display: flex;
  justify-content: flex-end;
  width: 42em;
  a {
    color: white;
    text-decoration: none !important;
    border: 0.1em solid white;
    padding: 0.3em;
  }
}

.nav-link-button {
  border: 0.1em solid white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 0.3em;
  font-size: 0.8em;
  text-transform: uppercase;
}

.professional-text {
  p {
    font-size: 3em;
    text-align: center;
    width: 15em;
    margin: 0.8em 0;
  }
  width: 100%;
  margin: 0 1em;
  display: flex;
  justify-content: center;
}
