$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .wb-left {
    flex-direction: column;
  }

  .wb-right {
    flex-direction: column;
  }

  .work-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8em 10em;
  }
  .story-text {
    min-width: 20em;
    font-size: 2em;
    text-align: justify;
  }
}

@media (min-width: $breakpoint-tablet) {
  .wb-left {
    flex-direction: row;
  }

  .wb-right {
    flex-direction: row-reverse;
  }

  .work-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8em 10em;
  }
  .story-text {
    min-width: 20em;
    max-width: 30em;
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) {
  .story-text {
    font-size: 1.8em;
  }
}

.side-image {
  width: 25em;
}

.professional-image {
  height: 100%;
  min-width: 20em;
  max-width: 30em;
  margin: 0 3em;
}

.resume {
  width: 44em;
}

.resume-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resume-link {
  display: flex;
  justify-content: flex-end;
  width: 42em;
  a {
    color: white;
    text-decoration: none !important;
    border: 0.1em solid white;
    padding: 0.3em;
  }
}
