$breakpoint-tablet: 1100px;
@media (max-width: $breakpoint-tablet) {
  .story-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1em;
    margin-top: 0.5em;
    margin-bottom: 5em;
  }
  .parallax-image {
    display: none;
  }
}
@media (min-width: $breakpoint-tablet) {
  .story-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em;
    margin-top: 0.5em;
  }
}

.content {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}

.button {
  margin: 1em;
  background: none;
  border: none;
  color: white;
}

.button:hover {
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.buttonOn {
  text-decoration: underline;
}

.fade-in {
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.story-tags p {
  border: 1px solid white;
  width: auto;
  padding: 0.05em 0.5em;
  margin: 0.2em;
  text-transform: uppercase;
  font-weight: 500;
  white-space: nowrap;
}
