$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .main-text {
    font-size: 4em;
  }
}

@media (min-width: $breakpoint-tablet) {
  .main-text {
    font-size: 6em;
  }
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  width: 9em;
  padding: 0 1em;
  font-family: 'adam.cg_proregular';
}

.tigers {
  width: 25em;
}

.tiger-left {
  margin-top: 5em;
  margin-left: 2em;
}

.tiger-right {
  margin-top: 2em;
  margin-right: 5em;
}

.switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.story-group {
  display: flex;
  flex-direction: row;
  margin: 6em;
}

.story-group:first-child {
 margin-top: 2em;
}

.two-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32.2em;
  margin: 0 2em;
}

.two-stack img {
  width: 18.5em;
  height: 15em;
}