.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  margin-block-start: 0;
  margin-block-end: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 0 2em;
  margin-bottom: 2em;
}

.nav_ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}

.nav_item {
  margin: 0em 0.5em 0 0.5em;
}

.nav_link_text {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav_link_text:hover {
  text-decoration: underline;
}


